@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
    margin: 0;
    padding: 0;
}

header,nav,section,article,aside,footer, section, div{
    display: block;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 128px;
}

a {
    text-decoration: none;
}

#logo {
    background-image: url("../images/StarbucksLogo.png");
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 64px;
    height: 64px;
    margin-left: 32px;
}

#logo span {
    color: #3E3F43;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6px;
    padding-left: 70px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 135px;
    gap: 64px;
}

nav a {
    color: #612999;
    font-family: Nunito;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.selected {
    color: #612999;
    font-weight: 700;
}


nav a:hover {
    color: #c38cf3;
}

.top_background {
    background-image: url("../images/Topbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 797px;
}

.top_background h1 {
    color: #612999;
    font-family: Nunito;
    font-size: 96px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-left: 32px;
    padding-top: 32px;
    width: 448px;
}

.top_background p {
    color: #000;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 32px;
    width: 448px;
}

#wrapper {
    margin-top: 32px;
    margin-left: 32px;
    margin-right: 32px;
}

.about_section h2 {
    color: #612999;
    font-family: Rubik;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 32px;
}

.about_section p {
    color: #000;
    text-align: justify;
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.625%;
    margin-bottom: 24px;
}

.lower_section {
    color: #612999;
    font-family: Rubik;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    margin-top: 15px;
    margin-bottom: 27px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-bottom: 32px;
}

.drink {
    display: flex;
    flex-direction: column;
    width: 376px;
    height: 496px;
    border-radius: 38px;
    background: #EFECFF;
    box-shadow: 0px 6px 40px 0px rgba(57, 132, 187, 0.05);
    position: relative;
}

.drink:last-child {
    margin-bottom: 319px;
}

.drink img {
    border-radius: 38px;
}

.drink h3 {
    color: #000;
    text-align: justify;
    font-family: Abel;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 32px;
    padding-top: 21px;
}

.drink p {
    color: #333;
    font-family: Abel;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 315px;
    padding-top: 7px;
    padding-left: 32px;
}

.drink .price {
    color: #612999;
    text-align: justify;
    font-family: Abel;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 13px;
    margin-bottom: 36px;
}

.heart {
    background-color: #EFECFF;
    background-image: url("../images/heart.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    position: absolute;
    margin-left: 290px;
    margin-top: 40px;
    width: 47px;
    height: 47px;
    cursor: pointer;
}

.shoppingbasket {
    background-color: #612999;
    background-image: url("../images/shoppingbasket.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    position: absolute;
    margin-left: 262px;
    margin-top: 406px;
    width: 63px;
    height: 63px;
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 287px;
    background: #EFECFF;
    padding-top: 32px;
}

footer > div {
    display: flex;
    gap: 150px;
    margin-left: 32px;
}

.who_we_are {
    display: flex;
    flex-direction: column;
}

.who_we_are h3 {
    color: #333;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.who_we_are a {
    color: #333;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8px;
}

.follow_us {
    display: flex;
    flex-direction: column;
}

.follow_us h3 {
    color: #333;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.follow_us a {
    color: #333;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8px;
}

.footer_link {
    display: flex;
    margin-left: 32px;
    margin-top: 24px;
    gap: 24px;
}

.copy_rights {
    margin-top: 16px;
    margin-left: 32px;
    color: #333;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.photo_section {
    display: flex;  
    margin-left: 32px;
    margin-bottom: 32px;
    gap: 32px;
}

#leftimage {
    background-repeat: no-repeat;
    background-size: contain;
    border: 4px solid #E6DBFE;
}

#middleimage {
    background-repeat: no-repeat;
    background-size: contain;
    border: 4px solid #E6DBFE;
}

#rightimage {
    background-repeat: no-repeat;
    background-size: contain;
    border: 4px solid #E6DBFE;
}

.list_section > h2 {
    color: #612999;
    font-family: Rubik;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    margin-left: 32px;
    margin-bottom: 32px;
}

.rocketship {
    background: #612999;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../images/rocketship.png");
    width: 82px;
    height: 82px;
    margin-left: 32px;
    border-radius: 46.5px;
    display: inline-block;
    backdrop-filter: blur(10px);
}

.list_section > ul > li {
    display: flex;
    align-items: center;
    gap: 16px;
    color: #000;
    font-family: Rubik;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    margin-bottom: 16px;
}

.form_section > h2 {
    color: #612999;
    font-family: Rubik;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    margin: 32px 0 32px 32px;
}

.form_details {
    height: 503px;
    background: #EFECFF;
    margin: 0px 32px 517px 32px;
    font-family: Rubik;
}

.form_details > form {
    padding: 16px;
}

input[type=text], input[type=tel], input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}